/*
 * Style twaks
 * --------------------------------------------------
 */
 #imagePreview {
    width: 132px;
    height: 140px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}
.form-control{
	height:auto;
}
body {
  padding-top: 50px;
}
footer p{
  margin:20px 0;
  padding:0 15px;
}
.view_dimension{
width:250px;
height:250px;
}
.bs-sidebar h4{
  margin-left:5px;
  text-transform: uppercase;
}
.update{
  font-style: italic;
}
.table>tbody>tr>td{
  vertical-align: middle;
  cursor: pointer;
}
.row{
  margin-left:0;
  margin-right: 0;
}
.notifications{
  right: 0px;
}
#ques_theory, #ques_lab{
  margin-top: 20px;
}
/*
 * Off Canvas
 * --------------------------------------------------

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
  height: 100%;
  margin-left: -15px; 
}

/* First level of nav */
.bs-sidenav {
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  /*background-color: #f7f5fa;*/
  border-radius: 0px;
  height: 100%;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background: #BAD2EB;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
/*    width: 303px;*/
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    /*top: 80px;*/
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 200px;
  }
}
@media screen and (min-width: 768px) {
 .bs-sidebar.affix {
  position: fixed;
  height: 100%;
}
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  
  border-left: 15px solid green;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  
  border-right:15px solid green; 
}
/* General styles for all menus */
.cbp-spmenu {
  /*background: #47a3da;*/
  position: fixed;
}
/*
.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu a:hover {
  background: #258ecd;
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}*/

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 220px;
  height: 100%;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  /*border-bottom: 1px solid #258ecd;*/
  padding: 1em;
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  /*border-left: 1px solid #258ecd;*/
}
/*side bar css*/
/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  left: -220px;
}

.cbp-spmenu-right {
  right: -220px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
  top: -150px;
}

.cbp-spmenu-bottom {
  bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 220px;
}

.cbp-spmenu-push-toleft {
  left: -220px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  .cbp-spmenu-top {
    top: -110px;
  }

  .cbp-spmenu-bottom {
    bottom: -110px;
  }

}

@media screen and (max-height: 26.375em){

  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  .cbp-spmenu-right {
    right: -190px;
  }

  .cbp-spmenu-push-toright {
    left: 190px;
  }
}
.errorcss
{
  font-weight: 100!important;
  color: #b94a48;
  border-color: #b94a48;
}
.successcss
{
  border-color:#468847; 
}